[submodule "command/bitmark-wallet/vendor/github.com/NebulousLabs/entropy-mnemonics"]
	path = command/bitmark-wallet/vendor/github.com/NebulousLabs/entropy-mnemonics
	url = https://github.com/NebulousLabs/entropy-mnemonics
[submodule "command/bitmark-wallet/vendor/github.com/bitgoin/tx"]
	path = command/bitmark-wallet/vendor/github.com/bitgoin/tx
	url = https://github.com/bitgoin/tx
[submodule "command/bitmark-wallet/vendor/github.com/boltdb/bolt"]
	path = command/bitmark-wallet/vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "command/bitmark-wallet/vendor/github.com/spf13/cobra"]
	path = command/bitmark-wallet/vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "command/bitmark-wallet/vendor/golang.org/x/crypto"]
	path = command/bitmark-wallet/vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "command/bitmark-wallet/vendor/github.com/spf13/pflag"]
	path = command/bitmark-wallet/vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "command/bitmark-wallet/vendor/golang.org/x/text"]
	path = command/bitmark-wallet/vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "command/bitmark-wallet/vendor/github.com/bitmark-inc/bitmark-wallet"]
	path = command/bitmark-wallet/vendor/github.com/bitmark-inc/bitmark-wallet
	url = https://github.com/bitmark-inc/bitmark-wallet
[submodule "command/bitmark-wallet/vendor/github.com/spf13/viper"]
	path = command/bitmark-wallet/vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "command/bitmark-wallet/vendor/github.com/hashicorp/hcl"]
	path = command/bitmark-wallet/vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "command/bitmark-wallet/vendor/github.com/magiconair/properties"]
	path = command/bitmark-wallet/vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "command/bitmark-wallet/vendor/github.com/mitchellh/mapstructure"]
	path = command/bitmark-wallet/vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "command/bitmark-wallet/vendor/github.com/pelletier/go-toml"]
	path = command/bitmark-wallet/vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "command/bitmark-wallet/vendor/github.com/spf13/afero"]
	path = command/bitmark-wallet/vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "command/bitmark-wallet/vendor/github.com/spf13/jwalterweatherman"]
	path = command/bitmark-wallet/vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "command/bitmark-wallet/vendor/gopkg.in/yaml.v2"]
	path = command/bitmark-wallet/vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "command/bitmark-wallet/vendor/github.com/fsnotify/fsnotify"]
	path = command/bitmark-wallet/vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "command/bitmark-wallet/vendor/github.com/spf13/cast"]
	path = command/bitmark-wallet/vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "command/bitmark-wallet/vendor/golang.org/x/sys"]
	path = command/bitmark-wallet/vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
