
datadir = "."
walletdb = "wallet.dat"

agent {
  btc {
    type = "daemon"
    node = "localhost:17001"
    user = "btcuser1"
    pass = "pjbgpsqvmmlmjlstkzhltwzrfgjrlsxfqzzfzshpmzstnhsdttltfmzxxkblzzcw"
  }

  ltc {
    type = "daemon"
    node = "localhost:17003"
    user = "btcuser1"
    pass = "pjbgpsqvmmlmjlstkzhltwzrfgjrlsxfqzzfzshpmzstnhsdttltfmzxxkblzzcw"
  }
}

