#!/usr/bin/make -f
# -*- makefile -*-

GOPATH = /tmp/go
GOCACHE = /tmp/.go-cache
BIN_DIR = ${GOPATH}/bin
PROJECT_DIR = ${CURDIR}

VERSION := $(shell dpkg-parsechangelog -SVersion | sed 's/-[^-]*$$//')

override_dh_auto_build:
	[ -f "go.tar.gz" ] && tar zxf go.tar.gz -C /tmp
	GOPATH="${GOPATH}" GOCACHE="${GOCACHE}" go install -buildmode=exe -ldflags "-X main.version=${VERSION}" ./command/...

override_dh_auto_install:
	# install app binary and configuration files
	etc_dir="debian/tmp/etc" ; \
	bin_dir="debian/tmp/bin" ; \
	share_dir="debian/tmp/share" ; \
	mkdir -p "$${etc_dir}" "$${bin_dir}" "$${share_dir}" ; \
	conf="${PROJECT_DIR}/command/bitmark-wallet/wallet.conf.sample" ; \
	[ -f "$${conf}" ] && cp -p "$${conf}" "$${etc_dir}/bitmark-wallet.conf" || true ; \
	cp -p "${BIN_DIR}"/bitmark-wallet "$${bin_dir}/"

override_dh_strip:
	# Go has lots of problems with stripping

override_dh_auto_test:
	# no tests

override_dh_installinit:
	#dh_installinit --name=docker --no-restart-on-upgrade

override_dh_auto_clean:
	dh_auto_clean

# default rules
%:
	dh $@ --with=systemd
